<h1 class="title"><%= @typing.name %> Type Pokémon</h1>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="is-size-5">
          <%= @typing.description %>
        </p>
      </div>
    </div>
  </article>
</div>

<div class="columns is-multiline is-mobile ">
  <%= render partial: 'shared/pokemon_card', object: @pokemons %>
</div>

<%= paginate @pokemons %>
