<h1 class="title">All <%= @typing.name %> Type Pokemon</h1>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= @typing.description %>
        </p>
      </div>
    </div>
  </article>
</div>

<div class="columns is-multiline is-mobile ">
  <%= render partial: 'shared/pokemon_card', object: @pokemons %>
</div>
