<h1 class="title">Search Results</h1>

<p>
  Found <%= @pokemons.size %> Pokémon
  for the search term "<%= params[:search_term]%>"
  <% if params[:selected_type].present? %>
    with a type of <%= @typing.name %>
  <% end %>
</p>

<div class="columns is-multiline is-mobile ">
  <%= render partial: 'shared/pokemon_card', object: @pokemons %>
</div>