/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.circular-label {
  min-width: 2em;
  margin-top: 0.4em;
  margin-right: 0.5em;
  margin-bottom: 0.8em;
  padding: 0.5em;
  padding-left: 0.4em;
  line-height: 1em;
  text-align: center;
  border-radius: 500em;
  background-color: #f14668;
  color:black;
}

.type-icon {
  display: inline-block;
  width: 106px;
  margin-bottom: 4px;
  background: #dbdbdb;
  background-color: rgb(219, 219, 219);
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  color: #fff;
  font-weight: normal;
  line-height: 2rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  text-transform: uppercase;
  transition: opacity .4s;
}

.type-psychic {
  background-color: #f59;
}

.itype-psychic {
  color: #f59;
}

.type-grass {
  background-color: #7c5;
}

.itype-grass {
  color: #7c5;
}

.type-bug {
  background-color: #ab2;
}

.itype-bug {
  color: #ab2;
}

.type-flying {
  background-color: #89f;
}

.itype-flying {
  color: #89f;
}

.type-dark {
  background-color: #754;
}

.itype-dark {
  color: #754;
}

.type-normal {
  background-color: #aa9;
}

.itype-normal {
  color: #aa9;
}

.type-water {
  background-color: #39f;
}

.itype-water {
  color: #39f;
}

.type-rock {
  background-color: #ba6;
}

.itype-rock {
  color: #ba6;
}

.type-electric {
  background-color: #fc3;
}

.itype-electric {
  color: #fc3;
}

.type-ground {
  background-color: #db5;
}

.itype-ground {
  color: #db5;
}

.type-poison {
  background-color: #a59;
}

.itype-poison {
  color: #a59;
}

.type-fire {
  background-color: #f42;
}

.itype-fire {
  color: #f42;
}

.type-ice {
  background-color: #6cf;
}

.itype-ice {
  color: #6cf;
}

.type-ghost {
  background-color: #66b;
}

.itype-ghost {
  color: #66b;
}

.type-fighting {
  background-color: #b54;
}

.itype-fighting {
  color: #b54;
}

.type-steel {
  background-color: #aab;
}

.itype-steel {
  color: #aab;
}

.type-fairy {
  background-color: #e9e;
}

.itype-fairy {
  color: #e9e;
}

.type-dragon {
  background-color: #76e;
}

.itype-dragon {
  color: #76e;
}